.title{
    text-align: center;
    color: black;
    
    font-weight: 400;
    text-transform: uppercase;
    margin: 60px 0px 0 0px ;
}
.title h2{
    font-size: 32px;
    color: #000f38;
    text-transform: none;
    margin-top: 5px;
}